<form method="POST" id="form">
  <div class="container signup_login_content text-center">
    <nav class="nav nav-pills nav-justified mb-3 d-lg-none">
      <a class="nav-item nav-link" href="/owners/signup"> 会員登録 </a>
      <a class="nav-item nav-link active" href="/owners/login"> ログイン </a>
    </nav>
    <div class="text-center mb-3">
      <div class="container-fluid">
       <div class="row">
         <div class="col"></div>
       </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        オーナープランの申し込みには会員登録が必要です
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Facebookで登録する</li>
        <li class="list-group-item">性</li>
        <li class="list-group-item">名</li>
        <li class="list-group-item">メールアドレス</li>
        <li class="list-group-item">メールアドレスで会員登録する</li>
      </ul>
    </div>
    <div class="form-login-group d-none d-lg-block">
      <h5>すでに会員の方はこちら</h5>
      <a href="/owners/login" class="button"> ログイン </a>
    </div>
  </div>
</form>
