<div class="mypage_container">
  <div class="mx-auto mypage_main_pc">
   <%= render 'sidebar' %>
    <div class="mypage_main_contents">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>運営からのお知らせ</h2>
          <div class="owners-run-news">
            <div>
              <time>2018/07/30</time>
              <p>
                鹿児島県南さつま市から薩摩あわびのプランを公開しました！
              </p>
            </div>
            <div>
              <time>2018/07/30</time>
              <p>
                ラオス ロンラン村から届くラオスの森コーヒープランを公開しました！
              </p>
            </div>
            <div>
              <time>2018/07/30</time>
              <p> 本日、OWNERSがリニューアルオープンしました！
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-block d-md-none mt-5">
          </div>
          <h2>新着手づくり日誌</h2>
          <div class="diary-posts"> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2> 契約中のプラン </h2>
          現在契約中のプランはありません<br>
          <a href="/">お気に入りの生産者を探してみましょう！</a>
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
</div>
