$whiteColor: #FFFFFF;
$blueColor: #38AEF0;
$bluegrayColor: #2f3e51;
$lightbluegrayColor: #253141;
$lightgrayColor: #999999;
$borderlineColor: #eeeeee;
$messagetextColor: #434A54;
$maingrouptextColor: #333333;
$orangeColor: #F35500;
