<div class="mypage_container">
  <div class="mx-auto mypage_main_pc">
    <%= render 'users/sidebar' %>
    <div class="mypage_main_contents">
      <h2>アドレス帳</h2>
      <div class="user-addresses-infomation">
        登録プランのお届け先変更をされたい場合は、こちらのページではできません。<br>
        マイページの「契約中のプラン」から変更してください。
      </div>
      <div class="row">
        <% if @addresses %>
          <%= render partial: 'address', collection: @addresses %>
        <% end %>
      </div>
      <div class="add_addresses_container">
        <button class="white addresses-add-button">
          <%= link_to "住所を新規追加", new_user_address_path(current_user), :style=>"color:#427833;" %>
        </button>
      </div>
    </div>
  </div>
</div>
