<div class="mypage_container">
  <div class="mx-auto mypage_main_pc">
    <%= render 'users/sidebar' %>
    <div class="mypage_main_contents">
      <h2>住所情報登録</h2>
      <div class="add-addresses-container">
        <%= form_for [@user, @address] do |f| %>
          <div class="form-group">
            <label for="full_name">氏名:※</label>
            <input type="text" name="address[full_name]" class="form-control" id="full_name" placeholder="氏名" value="" required="">
            <div class="invalid-feedback"> 氏名を入力して下さい。 </div>
          </div>
          <div class="form-group">
            <label for="postal_code">郵便番号:※</label>
            <em>ハイフン (-) 無しの半角数字で入力してください。</em>
            <div class="form-inline">
              <input type="text" class="form-control postal_code p-postal-code" name="address[postal_code]" placeholder="0000000" maxlength="7" value="" required="">
            </div>
          </div>
          <div class="form-group">
            <label for="prefecture">都道府県:※ </label>
            <%= render partial: 'states' %>
          </div>
          <div class="form-group">
            <label for="city">住所1:※ </label>
            <input type="text" class="form-control p-locality p-street-address" name="address[city]" placeholder="例）台東区松が谷" value="" required="">
            <div class="invalid-feedback"> 住所を入力して下さい。 </div>
          </div>
          <div class="form-group">
            <label for="house_number">住所2 (番地, 建物名):※ </label>
            <input type="text" class="form-control p-extended-address" name="address[house_number]" placeholder="例）1-2-3 ○○ビル3階" value="" required="">
          </div>
          <div class="form-group">
            <label for="tel">電話番号:※</label>
            <em>ハイフン (-) 無しの半角数字で入力してください。</em>
            <input type="tel" class="form-control add-tell-number" name="address[tel]" placeholder="例）08011112222" value="" required="">
            <div class="invalid-feedback"> 電話番号を入力して下さい。 </div>
          </div>
          <input type="hidden" class="p-country-name" value="Japan">
          <input id="csrf_token" name="csrf_token" type="hidden" value="Ijk1YTEyOTgwMGUwZDQ4N2Q1ZTMyOWFhODE0ZTdlNTc2ZTI5MGMwNWEi.DlauIw.5DUU-ZE-jgL6_Pfd56x6ICjOszA">
          <div>
            <button type="submit" class="green add-addresses-button" id="submit_button">送信</button>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
