body {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Hiragino Kaku Gothic ProN,"ヒラギノ角ゴ ProN W3",Arial,"メイリオ",Meiryo,sans-serif;
  color: #2d1d09;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255,255,255,.8);
  a {
    text-decoration: none;
    color: #333;
  }
  .index {
    height: 58px;
    width: 100%;
    background-color: rgba(255,255,255,.8);
   }
  .sticky {
    line-height: 58px;
   }
  .authenticated_header_menu {
    button {
      background: 0 0;
      border: 0;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      color: #333;
      outline: 0;
    }
    button img {
      width: 26px;
      height: 26px;
      border-radius: 13px;
      margin-left: 10px;
      margin-right: 6px;
    }
    .dropdown-menu {
      padding: 0;

    }
    .dropdown-item {
      font-size: 14px;
      line-height: 41px;
    }
  }
}

.signup_login {
  position: relative;
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  transition: all .2s;
  text-decoration: none;
  border-color: #427833;
  border-width: 1px;
  width: 106px;
  height: 32px;
  line-height: 32px;
  border: 0;
  border-radius: 4px;
  background-color: #f1eee8;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: #2d1d09;
  color: #fff;
}

#top_plans {
  .hero_image {
    height: 594px;
    object-fit: cover;
  }
  .carousel-caption {
    width: 70%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 50px auto;
    text-decoration: none;
    h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    text-shadow: #000 0 0 5px;
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    }
    h2:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    }
  }
  .plan_thumbnail {
  min-width: 115px;
  min-height: 115px;
  width: 115px;
  height: 115px;
  background-color: #d3d3d3;
  background-size: cover;
  margin: 0 10px;
  cursor: pointer;
  }
  .doc {
    width: 100%;
    background-color: #f1eee8;
    padding: 26px 0 26px 0;
    overflow-x: hidden;
    position: absolute;
  }
}

#about_owners {
  img {
    margin-top: 160px;
  }
}

.dropdown-categories {
  &__title {
    padding-left: 28px;
    display: inline-block;
  }
  &__children {
    position: absolute;
    display: none;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    width: 180px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    line-height: 1.8;
    .category_sort_list {
      font-size: 15px;
      font-weight: 600;
      padding-left: 10px;
    }
  }
}

#plans {
  .head {
    text-align: center;
    margin-bottom: 10px;
   }
  .line {
    width: 58px;
    height: 4px;
    background-color: #2d1d09;
    margin: 0 auto;
  }
  .plan_card_medium{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 4px;
    color: #2d1d09;
    background-color: #f1eee8;
    transition: .3s;
    transform: scale(1);
    &:hover {
      transform: scale(1.02);
      box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.2);
    }
   .float-card{
     width: 340px;
     height: 480px;
     border: 0;
     border-radius: 0;
     background-color: #f1eee8;
     position: relative;
     .card-img-top{
       width: 338px;
       height: 338px;
       object-fit: cover;
       border: 2px solid #fff;
     }
     .fa-star {
        &:before {
            content: "★";
            font-family: Verdana;
            font-weight: bold;
            font-size: 40px;
            color: #17a2b8;
            position: absolute;
            top: 0;
            left: 80%;
        }
      }
      .fa-empty-star {
        &:before {
            content: "☆";
            font-family: Verdana;
            font-weight: bold;
            font-size: 40px;
            color: #17a2b8;
            position: absolute;
            top: 0;
            left: 80%;
        }
      }
     .card-body {
       .limit {
        text-align: center;
        background-color: #f1ec00;
        box-shadow: 2px 2px 0 0 rgba(152,150,68,.5);
        color: #2d1d09;
        position: absolute;
        top: 270px;
        right: 10px;
        width: 58px;
        height: 58px;
        padding: .5rem;
       }
       .avatar {
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 50%;
         width: 72px;
         height: 72px;
         background-color: #fff;
         border: 2px solid #fff;
         margin-top: -53px;
         margin-left: -6px;
       }
       .card_title {
        position: absolute;
        top: 350px;
        left: 0;
        width: 100%;
        padding: 0 1rem 0 94px;
        margin-bottom: 0;
        font-weight: 600;
        color: #2d1d0a;
        line-height: 1.4;
        font-size: 16px;
        height: calc(1.4 * 3 * 16px);
       }

       .card_footer {
         position: absolute;
         bottom: 5px;
         width: 100%;
         left: 0;
         .location {
           margin-left: 10px;
           border-radius: 200px;
           padding: 4px 8px 4px 4px;
           background-color: #fff;
           font-size: 13px;
           color: #6b6049;
         }
         .price {
           padding-right: 10px;
           font-size: 12px;
           color: #2d1d0a;
         }
       }
      }
    }
  }
}


footer {
  background-image: image-url('footer_img.png');
  background-size: cover;
  position: relative;
  background-size: cover;
  margin-top: auto;
  color: #fff;
  ul li {
    font-weight: 700;
    margin-bottom: 4px;
  }
  a {
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
}


