.mypage_container {
    background: #f1eee8;
    width: 100%;
    padding-top: 58px;
}

.mypage_main_pc {
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mypage-detail-menu {
    position: relative;
    width: 240px;
    color: #2d1d09;
}

.mypage-detail-menu img {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    background-image: url(/static/images/profile_image_default.png);
    background-size: cover;
}

.mypage_left_menu {
    position: absolute;
    left: 0;
    width: 280px;
    height: 800px;
}

.mypage-detail-menu nav {
    position: relative;
    z-index: 0;
    top: 40px;
    left: 0;
    width: 240px;
    padding-top: 80px;
    background-color: #FFF;
    border-radius: 9px;
}

.mypage-detail-menu p {
    line-height: 44px;
    width: 240px;
    height: 44px;
    overflow: hidden;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
}

.mypage-detail-menu a {
    display: block;
    width: 240px;
    height: 46px;
    line-height: 48px;
    font-size: 14px;
    border-top: 1px dashed #f1eee8;
    color: #2d1d09;
    text-decoration: none;
    text-align: center;
}

.contact-to-owners {
    width: 240px;
    height: 272px;
    margin-top: 60px;
    background-color: #FFF;
    border-radius: 9px;
}

.contact-to-owners h3 {
    color: #2d1d09;
    width: 240px;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

.owners_form input {
    border: 2px solid #d2cec7;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 2;
    background: #fff;
    box-sizing: border-box;
}

.contact-to-owners textarea {
    display: block;
    height: 150px;
    width: 200px;
    border: 2px solid #d2cec7;
    margin-bottom: 15px;
    font-size: 12px;
    overflow-y: scroll;

    resize: vertical;
}

.mypage_main_contents {
    margin-left: 280px;
    max-width: 820px;
    min-height: 800px;
}

.owners_form input {
    border: 2px solid #d2cec7;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 2;
    background: #fff;
    box-sizing: border-box;
}

.contact-to-owners textarea {
    display: block;
    height: 150px;
    width: 200px;
    border: 2px solid #d2cec7;
    margin-bottom: 15px;
    font-size: 12px;
}

.owners_form input {
    position: relative;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #427833;
    border-radius: 4px;
    background-color: #427833;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    transition: all .2s;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.mypage_main_contents {
    margin-left: 280px;
    max-width: 820px;
    min-height: 800px;

}

.mypage_container h2 {
    color: #24180b;
    font-size: 1rem;
    font-weight: 700;
}

.owners-run-news, .diary-posts {
    width: 340px;
    height: 240px;
    overflow-y: scroll;
    color: #2d1d09;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 9px;
}

.owners-run-news div {
    border-bottom: 1px dashed #f1eee8;
    padding: 14px 20px 0 20px;
}

