          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/0/20180729130831.jpg" alt="果汁はじける高級ぶどう３品種。宝石のような贅沢な秋の味覚をお楽しみください！">
          <h3>果汁はじける高級ぶどう３品種。宝石のような贅沢な秋の味覚をお楽しみください！</h3>
          <p>秋の味覚の一つ、ぶどう。私たち太田農園では毎年ご好評いただいている、自慢のぶどうたちのプランを今年もご用意いたしました。<br><br>果樹の本場である信州須坂の恵まれた環境の中で、手間暇かけて丁寧に育てたぶどう３品種。<br>ポリフェノールたっぷり、漆黒の「ナガノパープル」、高貴な香りと甘さ、翡翠色の「シャインマスカット」、上品でフルーティーな風味、ルビー色の「クイーンニーナ」<br>どの品種も大粒で種がなく、皮ごと召し上がっていただけます。<br>それぞれの食感、風味、はじける果汁をまるで宝石のような彩りとともに、どうぞお楽しみください！<br>
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/1/20180729130831.jpg" alt="果樹栽培の情報と技術が集約される町、長野県須坂市">
          <h3>果樹栽培の情報と技術が集約される町、長野県須坂市</h3>
          <p>明治から昭和にかけて製糸の町として栄えた長野県北東部の信州須坂。土蔵や大壁造りの商い家の建物が残っており、当時の繁栄を思い起こさせる美しい町並みが人気の町です。峰の原高原、米子大瀑布、五味池破風高原など豊かな自然にも恵まれています。<br><br>ぶどうでは「ナガノパープル」、りんごでは「シナノスイート」など県を代表する果物が開発・育成される果樹試験場と呼ばれる施設があり、須坂は果物に関する多くの情報と技術が集まってくる場所でもあります。
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/2/20180729130831.jpg" alt="">
          <p>気候は内陸性気候で年間降雨量が1,000ミリメートル以下と少なく、1日の気温の高低差が大きい地域です。砂礫（されき）質の土壌は水はけもよく、果実栽培、特にぶどう栽培には最適の条件を備えています。<br>ナガノパープルにおいては県内の全生産量の半分がここ須坂で生産されるほどです。<br><br>こうして日本有数のおいしい果実が育つのは、信州長野ならではの栽培に適した地形と気候風土、そして古くから蓄積された高い果樹栽培技術の賜物なのです。<br>
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/3/20180729130831.jpg" alt="職人×野菜ソムリエの夫婦タッグ「信州須坂 太田農園」">
          <h3>職人×野菜ソムリエの夫婦タッグ「信州須坂 太田農園」</h3>
          <p>はじめまして、プランを紹介させていただく「信州須坂 太田農園」の太田弘明と申します。<br>私たちは家族で代々果樹農家をやっております。私はもっぱら職人気質な人間ですが、妻は野菜ソムリエの最高峰である”シニア野菜ソムリエ”の資格を長野県内で初めて取得し、料理教室やレシピ開発などを手がけています。<br><br>コンセプトは「畑から食卓までコミュニケーションでつなぐ」。<br>私たち夫婦ならではの技術、知識、考え方を生かして、味だけでなく身体にもおいしいものを口にしていただけるよう団結してこだわりのぶどうを作っています。
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/4/20180729130831.jpg" alt="丹精込めた愛情栽培。">
          <h3>丹精込めた愛情栽培。</h3>
          <p>私たちのこだわりの一つは「蕎麦殻」を肥料として使っていること。<br>元々廃棄物になっていた蕎麦殻ですが、これを肥料として使うことで土がふっくらと柔らかくなり空気や水を保ちやすくなります。実に栄養や旨味が行き渡り、ぎゅっと味が入り込むんです。
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/5/20180729130831.jpg" alt="">
          <p>ぶどう栽培の楽しさ。それは愛情を込めて手間暇を掛ければ掛けるほど、目に見えて味に変化が生まれること。繊細な分、私たちが掛けた手間を裏切らないおいしさに育ってくれるんですよ。<br><br>私たちのオーナープランではこれからご紹介する自慢の「ぶどう3品種」を、季節に応じてそれぞれ一番の食べごろ時期にお届けします。<br><br>通常では流通の都合によりベストな状態で出荷ができないことも多いのですが、先に注文者と数が確約するオーナー制度だからこそ「この時期が一番！」と言えるタイミングで生産管理し、お届けすることができます。
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/6/20180729130902.jpg" alt="長野のオリジナル品種で今一番人気のナガノパープル">
          <h3>長野のオリジナル品種で今一番人気のナガノパープル</h3>
          <p>ナガノパープルの特徴は何といっても「種がなく、皮まで食べられる大粒のぶどう」であるところ。もちろん甘さは文句なしで、なんともさわやかな風味を醸し出します。<br>近年種なしで皮も食べられるぶどうは多くなってきています。その中でもナガノパープルの皮は色が黒っぽくて存在感があり、ポリフェノールがたっぷり。ナガノパープルを一房食べると、赤ワイン1本分に相当するレスベラトロール（ポリフェノールの一種）を摂取できるのだとか。体にも優しいぶどうです。<br><br>一方でそのおいしさ故、とってもデリケートなのも特徴の一つ。栽培においては非常に神経を使います。天候にも影響されやすく、その栽培の難しさから、手掛ける生産者が全国でも限られている希少種なのです。<br><br><br>《お届け時期：9月上旬》<br>
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/7/20180729130902.jpg" alt="大粒・種なし、アレキサンドリアを超える贅沢シャインマスカット"> <h3>大粒・種なし、アレキサンドリアを超える贅沢シャインマスカット</h3>
          <p>これまでマスカットといえば「アレキサンドリア」がその代表でしたが、「皮を剥くのが面倒」、「種があって食べにくい」という難点がありました。それらを払拭したのがこの「シャインマスカット」です。<br><br>大粒で種がなくそのまま食べられます。糖度は18～20度と高く、酸味は控えめ。一口かじるとパリッとした歯ごたえとともに、ジューシーな果汁が口の中にあふれます。高貴な香りとともに感じる旨味と甘みは贅沢そのものです。<br><br>《お届け時期：9月下旬》<br>
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/8/20180729130902.jpg" alt="気品溢れる王妃の味わい。大粒赤ぶどうクイーンニーナ"> <h3>気品溢れる王妃の味わい。大粒赤ぶどうクイーンニーナ</h3> <p>2011年に品種登録された品種で、スペイン語で女の子を意味する「NINA（ニーニャ）」にちなんで、「クイーンニーナ」と命名されたそうです。<br>全国的に生産者はまだ少なく、希少種の一つです。<br><br>粒は巨峰やピオーネよりも若干大きく、透き通ったルビー色の果肉は見とれるほどの美しさがあります。<br>高い時で23度を超える糖度と、甘さだけではない独特なフルーティーな風味は格別。食べていただくと、まさに気品に満ちた王妃そのものが表現された上品な味わいを持っていることが分かります。<br><br>こちらも皮ごと食べることは可能ですが、少し厚みがあることから、気になる方は剥いて食べるのをおすすめします。<br><br>《お届け時期：10月上旬》</p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/9/20180729130519.jpg" alt="「信州須坂 太田農園」のぶどうオーナープラン"> <h3>「信州須坂 太田農園」のぶどうオーナープラン</h3>
          <p>３期目となる今回も昨年同様、３品種をそれぞれの旬の時期にお届けするプランとなります。<br><br>種もない、皮ごとそのままパクッと口に放り込んでもらいたい大粒のぶどう。<br>口の中で溢れ出す果汁をお楽しみください。<br><br>リピートの皆さまにも初めての皆さまにも、毎年同じ感動を味わっていただけるように気持ちを込めてお届けします！
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/10/20180729130902.jpg" alt="">
          <p>今までのオーナーさまからは、<br><br>「こんなおいしいぶどうは食べたことがない！」<br>「品種によっての違いが楽しめてワクワク」<br>「甘みも香りも濃くて、一粒一粒が大きい！」<br>「３部作が終わると、とても名残惜しい」<br><br>など沢山喜びのコメントをいただき、私達にとって大きな励みになっています。やはり直接皆さまから感想をいただけるのは本当にうれしいですね。
          </p>
          <img class="img-fluid" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/article/11/20180729130902.jpg" alt="オーナーの皆さまへ、一粒一粒に詰まった贅沢ぶどう体験をお届けします！"> <h3>オーナーの皆さまへ、一粒一粒に詰まった贅沢ぶどう体験をお届けします！</h3> <p>これからも私たちのぶどうを通して、皆さまに少しでも幸せな時間を提供できればこんな嬉しいことはありません。<br><br>信州の綺麗な空気、栽培の技術、私たちだからこそお届け出来る自慢のぶどうをぜひ味わってください！<br>
          </p>
