<div class="d-flex justify-content-center doc" >
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg')" onclick="$('#hero_carousel').carousel(0)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/170/image_square/20180815233935.jpg')" onclick="$('#hero_carousel').carousel(1)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/164/image_square/20180729113556.jpg')" onclick="$('#hero_carousel').carousel(2)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/127/image_square/20180729110701.jpg')" onclick="$('#hero_carousel').carousel(3)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/132/image_square/20180729105248.jpg')" onclick="$('#hero_carousel').carousel(4)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/145/image_square/20180729130231.jpg')" onclick="$('#hero_carousel').carousel(5)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/136/image_square/20180729120645.jpg')" onclick="$('#hero_carousel').carousel(6)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/153/image_square/20180729151728.jpg')" onclick="$('#hero_carousel').carousel(7)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/169/image_square/20180803112501.jpg')" onclick="$('#hero_carousel').carousel(8)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/tmp/3TuDcgfMFLCDSTRVX-51M7')" onclick="$('#hero_carousel').carousel(9)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/118/image_square/20180729144626.jpg')" onclick="$('#hero_carousel').carousel(10)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/148/image_square/20180729121658.jpg')" onclick="$('#hero_carousel').carousel(11)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/162/image_square/20180729183252.jpg')" onclick="$('#hero_carousel').carousel(12)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/161/image_square/20180729113817.jpg')" onclick="$('#hero_carousel').carousel(13)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/156/image_square/20180729221530.jpg')" onclick="$('#hero_carousel').carousel(14)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/163/image_square/20180729125535.jpg')" onclick="$('#hero_carousel').carousel(15)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/168/image_square/20180731151121.jpg')" onclick="$('#hero_carousel').carousel(16)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/tmp/1dFgBdlFcB6FNYMTh3kEGf')" onclick="$('#hero_carousel').carousel(17)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/165/image_square/20180730102450.jpg')" onclick="$('#hero_carousel').carousel(18)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/149/image_square/20180729160049.jpg')" onclick="$('#hero_carousel').carousel(19)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/150/image_square/20180729160115.jpg')" onclick="$('#hero_carousel').carousel(20)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/146/image_square/20180729143723.jpg')" onclick="$('#hero_carousel').carousel(21)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/142/image_square/20180729115319.jpg')" onclick="$('#hero_carousel').carousel(22)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/143/image_square/20180729121045.jpg')" onclick="$('#hero_carousel').carousel(23)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://s3-ap-northeast-1.amazonaws.com/owners-pro/Product/137/main_image/1.JPG')" onclick="$('#hero_carousel').carousel(24)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/139/image_square/20180729124223.jpg')" onclick="$('#hero_carousel').carousel(25)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/140/image_square/20180729124850.jpg')" onclick="$('#hero_carousel').carousel(26)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/154/image_square/20180730080541.jpg')" onclick="$('#hero_carousel').carousel(27)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/160/image_square/20180729105826.jpg')" onclick="$('#hero_carousel').carousel(28)"></div>
  <div class="plan_thumbnail" style="background-image:url('https://d1xgtamobon6ik.cloudfront.net/images/plan/157/image_square/20180729123355.jpg')" onclick="$('#hero_carousel').carousel(29)"></div>
</div>
