<article>
  <section id="top_plans">
    <%= render partial: "slides" %>
  </section>
  <section id="about_owners" class="container mb-5 mt-5">
   <div class="text-center">
    <a href="/about"> <img src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/banner/banner-about-owners.jpg" alt="とっておきの、オーナーになろう。OWNERSについて">
    </a>
   </div>
  </section>
  <section id="plans" class="container mt-3 mb-5">
    <div class="head">
      <div class="head_wrap">
        <p>オーナー募集中のプラン</p>
      <div class="line"></div>
      </div>
    </div>
      <div class="card-columns">
        <div class="container">
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://d1xgtamobon6ik.cloudfront.net/images/plan/135/image_square/20180729130302.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">大粒・皮ごと・種なし、信州育ちの甘みはじける贅沢３種のぶどう</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 長野県須坂市小島町 </div>
               <div class="price"> 13,200円 </div>
             </div>
            </div>
          </div>
      </div>
    </section>
</article>

